@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --upload: #F4FAFA;
    --wordborder: #F3F4F6;
    --wordbg: rgba(243, 244, 246, 0.5)
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --upload-foreground: #DDE4FF;
    --wordborder-foreground: rgb(31, 41, 55);
    --wordbg-foreground: rgba(31, 41, 55, 0.5);
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'BonFoyage';
  src: url('/fonts/bfd.otf');
}

@font-face {
  font-family: 'COGA';
  src: url('/fonts/CGRR.woff');
}

@font-face {
  font-family: 'Reco';
  src: url('/fonts/Recoleta.ttf');
}

@font-face {
  font-family: 'Mona';
  src: url('/fonts/MSfont.ttf');
}

@font-face {
  font-family: 'Gsansyy';
  src: url('/fonts/sans1.ttf');
}

@font-face {
  font-family: 'source';
  src: url('/fonts/sourceserif.ttf');
}

img {
  user-select: none;
}

button {
  user-select: none;
}

body {
  width: 100%;
}

.landing {
  width: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}


.span {
  color: red;
}

.translateSelect {
  font-size: 0.8rem !important;
}

.translateSelect::placeholder {
  font-size: 0.8rem !important;
  opacity: 0.5 !important;
}

.accordionCOMP::-webkit-scrollbar {
  display: none;
}

.textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.document::-webkit-scrollbar {
  display: none;
}

.logofont {
  font-family: 'Reco', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.7px;
}


.smallLogofont {
  font-family: 'Reco', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.9px;
}


#waveform ::part(cursor) {
  display: none !important;
  /* width: 0 !important; */
  width: 30px !important;
}

.ulcontent li {
  transition: 0.1s ease;
}

.ulcontent li:hover {
  transform: scale(1.009);
}

.COGAelement {
  font-family: 'COGA', sans-serif;
}


.poppinsFonts {
  font-family: 'Poppins', sans-serif;
}

.MonaSans {
  font-family: 'Mona', sans-serif;
}

.GsansFont {
  font-family: 'Gsansyy', sans-serif;
}


.text-gradient {
  background: linear-gradient(90deg, rgba(83, 130, 236, 1) 0%, rgba(176, 110, 172, 1) 15%, rgba(215, 101, 113, 1) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-number {
  background: linear-gradient(90deg, rgba(83, 130, 236, 1) 20%, rgba(176, 110, 172, 1) 50%, rgba(215, 101, 113, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.dialogForAddTask::-webkit-scrollbar {
  display: none !important;
  width: 5px !important;
}

/* Track */
.dialogForAddTask::-webkit-scrollbar-track {
  background: red !important;
}

/* Handle */
.dialogForAddTask::-webkit-scrollbar-thumb {
  background: #888 !important;
}

/* Handle on hover */
.dialogForAddTask::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.subtasksButton:hover {
  background-color: #efefef;
}


.text-with-gap {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-decoration-skip-ink: none;
  /* Prevents underlines from skipping descenders */
  text-underline-position: under;
}


.myclientBoxes {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
}


.ClientDetailsContainer::-webkit-scrollbar {
  width: 3px;
}

.ClientDetailsContainer::-webkit-scrollbar-track {
  background: #eeeeee;
}

.ClientDetailsContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}



.ClientDetailsNotes {
  transition: 0.5s ease-in-out;
  overflow-y: hidden;
}

.ClientDetailsNotes:hover {
  overflow-y: auto;
}

.ClientDetailsNotes::-webkit-scrollbar {
  width: 2px;
}

.ClientDetailsNotes::-webkit-scrollbar-track {
  background: #eeeeee;
}

.ClientDetailsNotes::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}



.previewPDFPage {
  transition: 0.5s ease-in-out;
  overflow-y: hidden;
}

.previewPDFPage:hover {
  overflow-y: auto;
}

.previewPDFPage::-webkit-scrollbar {
  width: 2px;
}

.previewPDFPage::-webkit-scrollbar-track {
  background: #eeeeee;
}

.previewPDFPage::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}





.quill {
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 12px !important;
}

.quill .ql-toolbar {
  background-color: #f5f6f8 !important;
  border-radius: 6px !important;
  border-color: #e5e7eb;
}

.quill .ql-container {
  border: 2px solid #e5e7eb !important;
  min-height: 150px !important;
  overflow-y: auto !important;
}

.quill .ql-container .ql-editor {
  height: auto !important;
  max-height: 350px !important;
  overflow: auto !important;
}


.notesViewMode .quill {
  border: none !important;
  min-height: 20px !important;
  width: 100% !important;
}

.notesViewMode .quill .ql-container {
  /* border: none !important; */
  /* overflow-y: auto !important; */
  min-height: 20px !important;
  width: 100% !important;
  padding: 0px !important;
}


@media screen and (min-width:355px) {
  .ClientDataInputField {
    max-width: 150px;
  }
}



.ToolbarWrapper-sc-cif21b-6 {
  display: hidden !important;
}

.vertical-timeline::before {
  background-color: transparent !important;
  border-left: 3px dashed #eceaea !important;
}

.vertical-timeline-element-icon {
  display: flex !important;
  justify-content: center !important;
  width: 15px !important;
  height: 15px !important;
  border-color: rgba(232, 239, 254, 1) !important;
  border-width: 3px !important;
  background-color: #5b89e9 !important;
  margin-left: -7px !important;
  margin-top: 20px !important;
  box-shadow: none !important;
}

.vertical-timeline-element-content {
  border: 2px solid #e5e7eb !important;
  background-color: #f7f7f7 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 15px !important;
}

.vertical-timeline-element-title {
  font-size: 0.9rem !important;
  font-weight: 450 !important;
  font-size: 0.86rem !important;
}

.vertical-timeline-element-date {
  top: 2.5px !important;
  font-size: 0.83rem !important;
}



.verticalTimeComponent {
  transition: 0.5s ease-in-out !important;
  overflow-y: hidden !important;
  padding-right: 10px !important;
}

.verticalTimeComponent:hover {
  overflow-y: auto !important;
}

.verticalTimeComponent::-webkit-scrollbar {
  width: 3px !important;
}

.verticalTimeComponent::-webkit-scrollbar-track {
  background: #eeeeee !important;
}

.verticalTimeComponent::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 20px !important;
}

/* verticalTimelineMain */
/* vertical-timeline vertical-timeline--animate  */

.ADDcaseInofComponent {
  padding-bottom: 80px;
  transition: 0.5s ease-in-out !important;
  overflow-y: auto !important;
  padding-right: 10px !important;
}

.ADDcaseInofComponent:hover {
  overflow-y: auto !important;
}

.ADDcaseInofComponent::-webkit-scrollbar {
  width: 2px !important;
}

.ADDcaseInofComponent::-webkit-scrollbar-track {
  background: #eeeeee !important;
}

.ADDcaseInofComponent::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 20px !important;
}

.kanbanBoard {
  background-color: white !important;
}


.clientSelectTrigger span p {
  display: hidden !important;
  font-size: 0rem !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.invoiceTable::-webkit-scrollbar {
  width: 7px;
}

.invoiceTable::-webkit-scrollbar-track {
  background: #eeeeee;
}

.invoiceTable::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}


.navbarscrollOfHome{
  overflow-y: hidden ;
}
.navbarscrollOfHome:hover{
  overflow-y: auto;
}
.navbarscrollOfHome::-webkit-scrollbar {
  width: 4px;
}

.navbarscrollOfHome::-webkit-scrollbar-track {
  background: #eeeeee;
}

.navbarscrollOfHome::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.NotesTab {
  overflow-x: hidden;
  overflow-y: hidden !important;
}

.NotesTab:hover {
  overflow-x: auto;
}

.NotesTab::-webkit-scrollbar {
  height: 3px !important;
}

.NotesTab::-webkit-scrollbar-track {
  background: #eeeeee;
}

.NotesTab::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}



.VotumUserNotes .quill {
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 6px !important;
}

.VotumUserNotes .quill .ql-toolbar {
  background-color: white !important;
  border-radius: 6px !important;
  border-color: #e5e7eb;
  border-width: none !important;
  border-bottom-width: 1px !important;
}

.VotumUserNotes .quill .ql-container {
  min-height: 150px !important;
  overflow-y: auto !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.VotumUserNotes .quill .ql-container .ql-editor {
  height: auto !important;
  max-height: 100vh !important;
  overflow: auto !important;
}

.VotumUserNotes .quill .ql-container .ql-editor:hover {
  overflow-x: auto;
}

.VotumUserNotes .quill .ql-container .ql-editor::-webkit-scrollbar {
  height: 1px !important;
}

.VotumUserNotes .quill .ql-container .ql-editor::-webkit-scrollbar-track {
  background: #eeeeee;
}

.VotumUserNotes .quill .ql-container .ql-editor::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}


.retrieval{
  font-family: 'source' , sans-serif;
}

.retrievalBook {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)), url("/images/retrievalBook.avif");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}




.navitemsForhome:hover{
   color: #19191c !important;
}